#container{
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: 'Fira Code', monospace;
    padding: 0px;
    margin:0px;
}

.card{
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.611);
}

.card button{
    text-decoration: none;
    color: white;
    background-color: transparent;
    border: none;
    
}

.card button:hover{
    text-decoration: underline;
}
.card h2{
    font-family: 'Fira Code', monospace;

}
.card p{
    font-family: 'Fira Code', monospace;
}

.card{
    background-color: rgb(0, 0, 0);
    width: 50%;
    border-color: grey;
    color: white;
    margin: 10px;
}

#container .btn {
    width: 30%;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    border-color: black;
    margin:30px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s
}
#container .btn:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    
}