#container{
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: 'Fira Code', monospace;
    padding: 0px;
    margin:auto;
    min-width: fit-content;
}

.card{
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.611);
    min-width: fit-content;
    margin: auto;
    text-align: center;
}

.card button{
    text-decoration: none;
    color: white;
    background-color: transparent;
    border: none;
    
}

.card button:hover{
    text-decoration: underline;
}
.card h2{
    font-family: 'Fira Code', monospace;
    margin-top: 10px;

}
.card p{
    font-family: 'Fira Code', monospace;
}

.card{
    background-color: rgb(0, 0, 0);
    width: 50%;
    border-color: grey;
    color: white;
    margin: 10px;
}

#container .btn {
    width: 30%;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-color: black;
    margin:30px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-weight: bold;
    font-size: 20px;
}
#container .btn:hover{
    background-color: rgb(255, 216, 22);
    color: rgb(0, 0, 0);
    
}