<div class="row text-center">
  <h2> Regístrate gratis</h2>
</div>
<div class="card-container">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="formRegister" class="form-custom">
        <mat-form-field class="input-custom">
          <mat-label>Introduzca su nombre: </mat-label>
          <input matInput placeholder="" formControlName="name">
          @if(this.formRegister.controls['name'].errors?.['required'] && this.submitted && this.formRegister.controls['name'].touched){
            <span class="error-message" >El nombre es obligatorio</span>
          }
          <br>
        </mat-form-field>
        <mat-form-field class="input-custom">
          <mat-label>Introduzca una correo: </mat-label>
          <input matInput placeholder=""  type="email" formControlName="email">
          @if(this.formRegister.controls['email'].errors?.['required'] && this.submitted && this.formRegister.controls['email'].touched){
            <span class="error-message" >El correo es obligatorio</span>
          }
          <br>
          @if(errorMessage && this.formRegister.controls['email'].touched && this.submitted){
            <span class="error-message" >El correo ya existe o no es válido</span>
            }
        </mat-form-field>
       
        <mat-form-field class="input-custom">
          <mat-label>Introduzca una contraseña: </mat-label>
          <input matInput placeholder="" formControlName="password" type="password" autocomplete="current-password">
          @if(this.formRegister.controls['password'].errors?.['required'] && this.submitted && this.formRegister.controls['password'].touched){
            <span class="error-message" >El nombre es obligatorio</span>
          }
        </mat-form-field>
        <div class="button-group flex">
          <button  type="button" class="btn custom-warn-btn" (click)="registerIn()">Registrarse</button>
        </div>
      </form>

      <!-- Mostrar mensajes de error o éxito -->
    
      @if(successMessage){
      <mat-error class="success-message">{{ successMessage }}</mat-error>
      }
    </mat-card-content>
  </mat-card>
</div>