.container{
    margin: 100px auto;
    padding: 20px;
    justify-content:center;
    text-align: center;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    

}

.card{
    box-shadow: 5px 10px #FFCE04;
    background-color: rgb(0, 0, 0);
    border-color:#FFCE04;
    border-width: 2px;
    color: white;
    margin: 10px;
    padding: 20px;
}

h3, h1, h2{
    font-family: 'Fira Code', monospace;
    color: white;
}
h3{
    font-size: 20px;
    color: white;
}

h2{
    display: flex;
    margin: 20px;
    font-size: 30px;
}

img{
    margin:40px;
    height: 240px;
    width: auto;
}



button{
    width: 20%;
    max-width: 200px;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 207, 32);;
    color: rgb(0, 0, 0);
    border-color: black;
    margin:30px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-size: 20px;
    font-family: 'Fira Code', monospace;
    display: flex;
    margin-top: 15px;

}

button:hover{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-family: 'Fira Code', monospace;
    font-size: 22px;
    
}

.img-fluid{
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.1rem;
        padding: 0 10px; /* Añade padding lateral para mejorar la legibilidad en móviles */
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 1.75rem;
    }

    h3 {
        font-size: 1rem;
        line-height: 1.4;
    }
}