<nav class="navbar navbar-expand-lg">
    <div class=" container-fluid navbar-nav d-flex justify-content-center" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link" (click)="getListShip()">Home</a>
            <a class="nav-link">Star Ships</a>
        </div>
    </div>
</nav>

@for(ship of shipsList; track ship.name;){
<div id="container" class="row text-center">
    <div class="card">
        <h2><a href="">{{ship.name}}</a></h2>
        <p>{{ship.model}}</p>
    </div>
</div>
}