<div class="container">
    <div class="card">
        <div class="">
            <div class="row">
                <h1>Welcome to the Star Wars Galaxy!</h1>
            </div>
            <div class="col-md-12 text-center">
                <h3>Immerse yourself in the fascinating universe of Star Wars and discover a wide variety of spacecraft that have brought this iconic saga to life. From the legendary X-Wings to the fearsome Star Destroyers</h3>
            </div>
        </div>
    </div>
    <div class="container align-items-center d-flex flex-column flex-md-row">

        <div class="row">
            <img clas="img-fluid" src="/assets/bebe-yoda2.svg" alt="">
        </div>
        <div class="col-md-8 d-flex align-items-center text-center">
            <h2>May the Force be with you!</h2>
            <button class="btn d-flex" [routerLink]="['starship']"> Access </button>
        </div>

    </div>




</div>