.navbar{
    background-color: rgb(31, 30, 30);
}
.navbar a{
    color: white;
    font-family: 'Fira Code', monospace;
    font-size: 20px;
    text-decoration: underline;
}
.navbar a:hover{
    color: rgb(255, 187, 0);
    font-size: 25px;
}

