<div class="container">
    <div class="card">
        <div class="">
            <div class="row">
                <h1>¡Bienvenido a la Galaxia de Star Wars!</h1>
            </div>
            <div class="col-md-12 text-center">
                <h3>Sumérgete en el fascinante universo de Star Wars y descubre una amplia variedad de naves espaciales
                    que han dado vida a esta icónica saga. Desde las legendarias X-Wings hasta los temibles Star
                    Destroyers.</h3>
            </div>
        </div>
    </div>
    <div class="container align-items-center d-flex">

            <div class="row">
                <img clas="img-fluid" src="/assets/bebe-yoda2.svg" alt="">
            </div>
            <div class="col-md-8 d-flex align-items-center text-center">
                <h2>¡Que la fuerza de acompañe!</h2>
                <button class="btn d-flex" [routerLink]="['starship']"> Entrar </button>
            </div>

        </div>


       

</div>

