<div class="container aling-item-center">
        @if(ship){
        <div class="row custom-row">
            <div class="col-12 d-flex">
                <h3 class="">{{ ship.name }}</h3>
            </div>  
        </div>

        <div class="card mb-3">
            <div class="row g-0">
              <div class="col-lg-4" [ngClass]="{'d-none':imgError}">
                @if(imgUrl && !imgError){
                <img class="img-fluid" [src]="imgUrl" alt="imagen de {{ship.name}}" (error)="onImgError()" >
                }
              </div>
              <div class="col-lg-8" [ngClass]="{'col-lg-12':imgError}">
                <div class="card-body">
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta voluptatibus sunt consectetur
                    assumenda asperiores magnam excepturi voluptas? Illum doloribus repellendus obcaecati officia
                    ducimus neque natus quo a, voluptatem, earum odio?</p>
                    <ul class="row">
                        <div class="col-6">
                            <li>Model: {{ ship.model }}</li>
                            <li>Manufacturer: {{ ship.manufacturer }}</li>
                        </div>
                        <div class="col-6">
                            <li>Cost in Credits: {{ ship.cost_in_credits }}</li>
                            <li>Length: {{ ship.length }}</li>
                        </div>
                    
                    </ul>
                </div>
              </div>
            </div>
          </div>

    }
   @if(ship.pilots){
    <app-pilots [pilotsShips]="ship.pilots" ></app-pilots>
   } 

   @if(ship.films){
      <app-film [filmsShips]="ship.films"></app-film>
   }
</div>