.navbar {
  background-color: #000; /* Fondo negro */
}

body{
  background-color: black;
}

.nav-link {
  color: white;
  font-family: 'Fira Code', monospace;
  font-size: 25px;
  margin: 20px;
}


.nav-link:hover {
  color: white;
  text-decoration: underline;
  font-size: 28px;
  
  
}

img{
  width: 100%;
  height: 150px;

}

app-home{
  background-color: black;
}

footer p{
  color: white;
}
  